<div class="row">
  <div class="col-sm-12 comments">
    <h4><strong><%= comment.commenter %></strong></h4>
    <p><%= comment.body %></p>
    <%l,d = count(comment)%>
    <div class="pull-right">
      <span id="like_<%=@article.id%>_<%= comment.id %>" class=" emotion fa fa-thumbs-up" >
         <%=l%>
      </span>
      <span id="dislike_<%=@article.id%>_<%= comment.id%>" class=" emotion fa fa-thumbs-down" >
         <%=d%>
      </span>
      <span>
      <%= link_to '', [comment.article, comment],
                   method: :delete,class: 'fa fa-trash',
                   data: { confirm: 'Are you sure?' }%>
      </span>
    </div>
  </div>
</div>
<hr>